<!DOCTYPE html>
<html lang="en">

  <%- include('../../layout/head') %>

<body>

  <%- include('../../layout/header') %>
  <h2>Magandang Umaga?</h2>
  <%- include('../../layout/footer') %>

</body>
</html>