<!DOCTYPE html>
<html lang="en">

  <%- include('../layout/head') %>

<body>

  <%- include('../../layout/header') %>

  <h1>Oh No! You ran into an error!</h1>

  <%- include('../layout/footer') %>

</body>
</html>